flows/arduino.js
[{"id":"88ebb85c.771448","type":"mqtt-broker","broker":"192.168.1.24","port":"1883","clientid":"node-red"},{"id":"3e15210.fc1eae","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"de15155f.21eae8","type":"arduino in","name":"photoresistor","pin":"0","state":"ANALOG","arduino":"3e15210.fc1eae","x":411,"y":397,"z":"592aa0f3.a6d56","wires":[["47a48baa.b85b74"]]},{"id":"3cb88f3c.c3477","type":"arduino out","name":"","pin":"13","state":"OUTPUT","arduino":"3e15210.fc1eae","x":1559,"y":310,"z":"592aa0f3.a6d56","wires":[]},{"id":"47a48baa.b85b74","type":"function","name":"to bool","func":"// on définit un compteur a 0, il \ncontext.count = context.count || 0;\n// on extrait la valeur samplée par l'arduino dans une variable\nvar val = parseInt(msg.payload);\n\n// si la valeur est supperieure a 200, on coupe peut etre le rayon\nif(val > 200) {\n\t// on incrémente le compteur pour voir si on a eut un changement assez long\n\tcontext.count +=1;\n\t// si les 5 précédant ont éte une coupure\n\tif(context.count >5){\n\t\t// on active la led\n\t\tmsg.payload = {val:val,photo:false};\n\t\t// on reset le compteur\n\t\tcontext.count=0;\n\t\t\n\t}\n\tmsg.payload = {val:val,photo:false};\n} \nelse msg.payload = {val:val,photo:true};\nreturn msg;","outputs":1,"x":696,"y":398,"z":"592aa0f3.a6d56","wires":[["8c9c434e.7363c"]]},{"id":"b2123986.4dedc8","type":"debug","name":"","active":true,"console":"false","complete":"dbg","x":1123,"y":396,"z":"592aa0f3.a6d56","wires":[]},{"id":"fcf96f7.f03069","type":"mqtt out","name":" send to testRoom","topic":"testRoom","qos":"","retain":"","broker":"88ebb85c.771448","x":1594,"y":395,"z":"592aa0f3.a6d56","wires":[]},{"id":"8c9c434e.7363c","type":"function","name":"get change","func":"context.count = context.count || 0;\ncontext.state = context.state || msg.payload.photo;\n\nmsg.dbg = \t\"c state\" + context.state + \"pl \" + msg.payload.photo;\n\nif(msg.payload.photo != context.state){\n\tcontext.state = msg.payload.photo;\n\tmsg.payload.change=true;\n} else{\n\tmsg.payload.change=false;\n}\n\nreturn msg;\n","outputs":1,"x":941,"y":397,"z":"592aa0f3.a6d56","wires":[["243875f6.dbc78a","b9a139fe.465ec8","b2123986.4dedc8"]]},{"id":"243875f6.dbc78a","type":"switch","name":"","property":"payload.change","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1126,"y":318,"z":"592aa0f3.a6d56","wires":[["5f4a108.fa0b5f"],["8dd582c4.722a8"]]},{"id":"693c3751.96c3c8","type":"mqtt in","name":"rcv testRoom","topic":"testRoom","broker":"88ebb85c.771448","x":429,"y":92,"z":"592aa0f3.a6d56","wires":[[]]},{"id":"8dd582c4.722a8","type":"function","name":"send transform","func":"if(msg.payload == 3){\nmsg.payload = \"changed\";\nreturn msg;\n}\n","outputs":1,"x":1355,"y":396,"z":"592aa0f3.a6d56","wires":[["fcf96f7.f03069"]]},{"id":"b9a139fe.465ec8","type":"file","name":"","filename":"test.txt","appendNewline":true,"overwriteFile":"false","x":1119,"y":468,"z":"592aa0f3.a6d56","wires":[]},{"id":"5f4a108.fa0b5f","type":"function","name":"to led","func":"if (msg.payload.photo == true){\n\tmsg.payload = 1;\n}\nelse{\n\tmsg.payload = 0;\n}\n\nreturn msg;","outputs":1,"x":1333,"y":311,"z":"592aa0f3.a6d56","wires":[["3cb88f3c.c3477"]]}]